.video__page {
    background: rgb(202, 64, 9);
    height: 100vh;
    width: 100vw;
}

.video__container {
    position: relative;
    background: black;
    color: aqua;
    height: 100%;
    width: 100%;
}

.video__container .incomingcall {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(#200122, #6f0000);
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.video__container .incomingcall .profile_pic__wrapper {
    height: 350px;
    width: 350px;
    margin-top: 1%;
    overflow: hidden;
    border-radius: 50%;
}

.video__container .incomingcall h1{
    margin-top: 2%;
    text-align: center;
}

.profpic {
    height: 100%;
    width: 100%;
}

.video__container .small_video__div {
    position: absolute;
    color: aqua;
    height: 25%;
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    top: 70%;
    left: 20px;
    z-index: 2;
    opacity: 1;
}

.video__container .big_video__div {
    position: absolute;
    color: aqua;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    top: 5%;
    left: 35px;
    z-index: 1;
    opacity: 1;
}

.videoplayer {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-flexbox__container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    top: 75%;
}

.call__btn:hover {
    cursor: pointer;
}

.end__call {
    max-height: 80px;
    max-width: 80px;
    background: white;
    border-radius: 50%;
}

.accept__call {
    max-height: 80px;
    max-width: 80px;
    background: white;
    border-radius: 50%;
    margin-right: 5%;
}

.reject__call {
    max-height: 80px;
    max-width: 80px;
    background: white;
    border-radius: 50%;
    margin-left: 5%;
}

.call__icon {
    height: 100%;
    width: 100%;
}
