@import url(profile-darktheme.css);

.contacts-header {
    padding-top: 15%;
    padding-bottom: 4%;
    background: rgb(0, 175, 156);
}

.sidebar-profile__content {
  overflow: hidden;
  /* flex: 1; */
  position: relative;
  padding-top: 6%;
}

.image {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.image:hover {
    cursor: pointer;
}

.image__img {
    /* display: block; */
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    /* background: rgba(0, 0, 0, 0.6); */
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* transition: opacity 0.25s; */
}

.image__overlay--primary {
    background: #323739;
}


.image__overlay:hover {
    opacity: 0.8;
}

.image__clicked {
    opacity: 0.8;
}

.image__title {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
}

.image__description {
    font-size: 0.8em;
    margin-top: 0.25em;
}

.profile-pic__options {
    z-index: 10;
    position: absolute;
    top: 25%;
    right: 10%;
    width: 170px;
    padding: 10px 0;
    background-color: white;
    align-items: left;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 #00000042, 0 2px 10px 0 rgba(0, 0, 0, .16);
    transition: all 0.2s ease-in;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

.profile-pic__options--active {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.option-left__align {
    text-align: left;
}



/* style for image view */
.profilepic__Modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    padding-bottom: 10px;
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto ; /* Enable scroll if needed */
    background-color: #20272b;
    opacity: 0.92;
  }
  
  /* Modal Content (Image) */
  .modal-image {
    margin: auto;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-image, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close-view Button */
  .close-view {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close-view:hover,
  .close-view:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-image {
      width: 100%;
    }
  }


  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 15px;
  }

  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    height: 25px;
    font-size: 18px;
    color: rgb(30, 37, 41);
    width: 80%;
    caret-color: rgb(0, 175, 156);
    outline: none;
    /* padding: 10px; */
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
    /* border-bottom: 1px solid red; */
  }

  .prof_submit__btn:hover {
    cursor: pointer;
  }

  .profile-infona {
      padding-top: 9%;
      background: #f8f9fa;
  }

  .profile-infona .namediv{
    padding-left: 8%;
    padding-top: 12px;
    padding-bottom: 10px;
}

.profile-infona .disclaimerdiv {
    background: #DADADA;
    padding-left: 8%;
    padding-right: 5%;
    padding-top: 4%;
    padding-bottom: 7%;
}

.profile-infona .aboutdiv {
    padding-left: 8%;
    padding-top: 4%;
    padding-bottom: 10px;
}
